[%- META title = 'psnic help' -%]

<h2>Alternatives</h2>

<ul>
  <li><a href="http://search.cpan.org/perldoc?CPAN::Mini::Webserver">CPAN::Mini::Webserver</a> - a local search tool running over your minicpan mirror</li>
  <li><a href="http://search.cpan.org/">search.cpan.org</a> - original and still the best</li>
  <li><a href="http://kobesearch.cpan.org/">kobesearch.cpan.org</a></li>
  <li><a href="http://cpantools.com/">cpantools.com</a> - <a href="http://labs.google.com/suggestfaq.html#q1">Google Suggest</a> style search hints</li>
  <li><a href="http://cpantools.com/beta/">cpantools.com/beta/</a> - tabs, google suggest, more whizzy</li>
  <li><a href="http://www.google.com/search?q=site%3Asearch.cpan.org">Google <em>site</em> search</a> - search through search.cpan.org (or another domain of your choosing)</li>
  <li><a href="http://www.google.com/codesearch?as_lang=perl">Google <em>code</em> search</a> - all the public Perl code Google can find</li>
  <li><a href="http://search.cpan.org/perldoc?App::Perldoc::Search">App::Perldoc::Search</a> - Searches the perl documentation for strings</li>
  <li><a href="http://perlbuzz.com/2009/07/introducing-cpanhq.html">CPANHQ</a> - community-driven, meta-data-enhanced alternative</li>
  <li><code>grep -r</code></li>
</ul>
